@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:70px;
    background-color: #b9c6cc;
    color: rgb(12, 11, 11);
    border-bottom: none;
}
.logo {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color:rgb(12, 11, 11);
    cursor:pointer;
    border-bottom: none;
    padding-left: 30px;
    padding-bottom: 17px;
}
.logo:hover {
    color:rgb(250, 7, 7);
}


.nav-links {
    display:flex;
    justify-content: flex-end;
    list-style: none;
    width: 70%;
    padding-top: 5px;
    padding-right: 40px;
    border-bottom: none;
}

.logo.active {
    border-bottom: none;
}




.home,
.services,
.about,
.contact,
.signup {
    text-decoration: none;
    color:rgb(3, 3, 3);
    font-size: 20px;
    font-weight:bolder;
    padding: 8px 15px;
    margin: 0 10px;
    cursor:pointer;
}
.active {
    font-weight: bold;
    border-bottom: 2px solid #565387;
}
.home:hover{
    color: rgb(241, 8, 8);
}
.services:hover {
    color:rgb(250, 7, 7);
}
.about:hover {
    color:rgb(250, 7, 7);

}
.contact:hover {
    color:rgb(250, 7, 7);

}

.signup{
    border: 0.6px solid yellow;
  
    border-radius: 7px;
}
.signup:hover {
    color:rgb(201, 243, 12);
    border-radius: 60px;
 
}


.mobile-menu-icon {
    display:none;
}
@media screen and (max-width: 780px){
   .logo{
       display: flex;
       margin-top: 10px;
       position: fixed;

   } 
   .nav-links {
       display: none;


   }
   .nav-links-mobile {
       position: absolute;
       display: block;
       list-style:none;
       background-color: #005469;
       left: 0;
       top: 75px;
       transition: all 0.5s ease-out;
       width:100%
   }
   .home,
    .services,
    .about,
    .contact,
    .signup {
        color: rgb(8, 8, 8);
        text-align: center;
        padding: 32px;
        width: 100%;
        transition: all 0.5s ease;
        border-bottom: none;
    }
    .signup {
        border:none;
    }
    .mobile-menu-icon{
        display: block;
        position: absolute;
        font-size: 30px;
        color: rgb(12, 7, 7);
        background-color: #bdc7cc;
        border: none;
        outline: none;
        top: 15px;
        right: 25px;
    }
}